body {
    padding: 0 !important;
}

.topNav {
    display: initial;
}

.bottomNav {
    display: none;
}

@media screen and (max-width: 576px) {
    .topNav {
        display: none;
    }

    .bottomNav {
        display: flex;
    }
}