.reason-cards-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: stretch;
    align-items: flex-start;
    padding: 15px;
}

.reason-cards-list > * {
    margin: 5px;
}